/* 노말라이즈 */
body, ul, li, h1 {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
}

label[for] {
	cursor: pointer;
	user-select: none;
}

/* 라이브러리 */
.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.img-box>img, .img-box>svg {
	width: 100%;
	display: block;
}

.video-box>video {
	width: 100%;
	display: block;
}

.con {
	max-width: 1200px;
}

.con {
	margin-left: auto;
	margin-right: auto;
}

.border-red {
	border: 10px solid red;
}

html>head+body:nth-child(2) .height-300 {
	min-height: 100px;
}

.bg-white {
	background-color: white;
}

.padding-10 {
	padding: 10px;
}

/* flex 관련 */
.flex {
	display: flex;
}

.flex-ai-c {
	align-items: center;
}

.flex-jc-c {
	justify-content: center;
}

/* 폼 관련 */
.form1 {
	width:100%;
}

.form1 .form-control-box>input, .form1 .form-control-box>textarea {
	width: 100%;
	padding: 0;
	display: block;
	box-sizing: border-box;
	padding: 10px;
}

.form1 .form-control-box>textarea {
	min-height: 300px;
	resize: none;
}

.form1 .form-control-box>.reply-textarea {
	min-height: 70px;
	resize: none;
}

.form1 .form-row {
	display: flex;
	flex-wrap: wrap;
}

.form1 .form-row>.form-control-label {
	display: flex;
	align-items: center;
	padding: 10px;
	font-weight: bold;
}

.form1 .form-row>.form-control-box {
	display: flex;
	align-items: center;
	padding: 10px;
}

.form1 th, .form-control-label {
	/* `로그인 아이디` 문구가 줄 바꿈 될 때 공백기준으로 줄바꿈 되도록 */
	word-break: keep-all;
}

/* 검색 폼 */
.search-box-el {
	display:flex;
}

.search-box-el > input {
	margin:0 10px;
}

/* 테이블 관련 */
.table1 {
	width: 100%;
	border-collapse: collapse;
	padding: 10px;
	text-align: left;
}

.search-box {
	display:flex;
	justify-content:center;
}

.paging-box {
	display:flex;
	justify-content:center;
	margin:5px;
}

.paging-box .current {
	color:red;
}

.paging-box > li {
	margin: 0 5px;
}

.logo {
	display:flex;
	justify-content:center;	
}

.menu-box-1 {
	display:flex;
	justify-content:space-between;
	padding:10px;
}

.menu-box-2 {
	display:flex;
	justify-content:space-between;
	font-size:1.5rem;
}

.page-title-box {
	margin:15px 5px;
}

.body-box {
	min-height:70vh;
}

.noRead {
	background-color:#D3B7D8;
}

.select {
	width: 100%;
	box-sizing: border-box;
	display: block;
	padding:10px;
	border-right:1px solid black;
}

.menu-item {
	width:20%;
}

.menu-item > a {
	display:flex;
	align-items:center;
	justify-content:center;
	width:100%;
	hieght:100%;
	padding:10px;
	border-top:2px solid orange;
	border-bottom:2px solid orange;
}

.menu-item > a:hover {
	color:blue;
	background-color:orange;
}