html {
	background-color:#0F222D;
	color:#EBE7ED;
}

table {
	background-color:#EBE7ED;
	color:#0F222D;
	border:3px solid #F55139;
}
/* 노말라이즈 */
body, ul, li, h1 {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration:none;
}

a:hover {
	color:#F55139;
}

label[for] {
	cursor: pointer;
	user-select: none;
}

/* 라이브러리 */
.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.con {
	max-width: 1200px;
}

.con {
	margin-left: auto;
	margin-right: auto;
}

.border-red {
	border: 10px solid red;
}

html>head+body:nth-child(2) .height-300 {
	min-height: 100px;
}

/* flex 관련 */
.flex {
	display: flex;
}

.flex-ai-c {
	align-items: center;
}

.flex-jc-c {
	justify-content: center;
}

/* 폼 관련 */
.form1 {
	width:100%;
}

.form1 .form-control-box>input, .form1 .form-control-box>textarea {
	width: 100%;
	padding: 0;
	display: block;
	box-sizing: border-box;
	padding: 10px;
}

.form1 .form-control-box>textarea {
	min-height: 300px;
	resize: none;
}

.form1 .form-control-box>.reply-textarea {
	min-height: 70px;
	resize: none;
}

.form1 .form-row {
	display: flex;
	flex-wrap: wrap;
}

.form1 .form-row>.form-control-label {
	display: flex;
	align-items: center;
	padding: 10px;
	font-weight: bold;
}

.form1 .form-row>.form-control-box {
	display: flex;
	align-items: center;
	padding: 10px;
}

.form1 th, .form-control-label {
	/* `로그인 아이디` 문구가 줄 바꿈 될 때 공백기준으로 줄바꿈 되도록 */
	word-break: keep-all;
}

.form1 > table > tbody > tr th {
	text-align:center;
}

/* 검색 폼 */
.search-box-el {
	display:flex;
}

.search-box-el > input {
	margin:0 10px;
}

/* 테이블 관련 */
.table1, .table2, .table3 {
	width: 100%;
	border-collapse: collapse;
	padding: 10px;
	text-align: left;
}

.table1 > thead > tr {
	background-color:#dfdfdf;
	color:#0F222D;
}

.table1 > tbody > tr th {
	text-align:center;
}

.table2 > thead > tr th {
	text-align: center;
	background-color:#dfdfdf;
	border-bottom:3px solid #F55139;
}

.table2 > thead > tr th:nth-child(2) {
	text-align:left;
}

.table1 > tbody > tr td {
	padding:3px;
}

.table2 > thead > tr th, .table2 > tbody > tr td {
	padding:10px;
}

.table2 > tbody > tr:nth-child(2n) {
	background-color:#dfdfdf;
}

.table2 > tbody > tr td:first-child, .table2 > tbody > tr td:last-child, .table2 > tbody > tr td:nth-child(3), .table2 > tbody > tr td:nth-child(4) {
	text-align:center;
}

.table3 > thead > tr th, .table3 > tbody > tr td {
	padding:10px;
}

.table3 > thead > tr th {
	text-align: center;
	background-color:#dfdfdf;
}

.table3 > tbody > tr th {
	text-align:center;
}

.search-box {
	display:flex;
	justify-content:center;
}

.paging-box {
	display:flex;
	justify-content:center;
	margin:5px;
}

.paging-box .current {
	color:#F55139;
}

.paging-box > li {
	margin: 0 5px;
}

.paging-box > li {
	font-size:1.4rem;
	font-weight:bold;
}

.logo {
	display:flex;
	justify-content:center;
	width:100%;
	background-color:#0F222D;
}

.menu-box-1 {
	display:flex;
	justify-content:space-between;
	padding:10px;
}

.page-title-box {
	display:flex;
	justify-content:center;
	align-items:center;
	margin:15px 5px;
}

.body-box {
	min-height:60vh;
}

.bottom {
	display:flex;
	justify-content:flex-end;
	width:100%;
	border-top:3px solid #F55139;
	color:#EBE7ED;
	font-size:1.5rem;
	margin:20px 0;
}

.noRead {
	display:inline-block;
	color:red;
	font-weight:bold;
}

.select {
	width: 100%;
	box-sizing: border-box;
	display: block;
	padding:10px;
}

.menu-item {
	width:20%;
}

.menu-item > a {
	display:flex;
	align-items:center;
	justify-content:center;
	width:100%;
	hieght:100%;
}

.menu-item > a:hover {
	color:blue;
}

.party-menu {
	display:flex;
	justify-content:space-between;
	margin: 10px 0;
}

.party-menu-item {
	width:30%;
	height:150px;
	border:3px solid #F55139;
	font-size:2rem;
	font-weight:bold;
	margin:15px 0;
}

.party-menu-item > a {
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	height:100%;
}

.party-menu-item > a:hover {
	background-color:#EBE7ED;
	color:#0F222D;
}

.main-notice {
	margin:10px 0;
}

.main-free {
	margin:10px 0;
}

.pageTitle {
	display:flex;
	justify-content:space-between;
	margin:15px 0;
}

.subTitle {
	display:flex;
	justify-content:flex-end;
}

.sell {
	display:inline-block;
	color:red;
	font-weight:bold;
}

.buy {
	display:inline-block;
	color:green;
	font-weight:bold;
}

.dealComplete {
	display:inline-block;
	color:orange;
	font-weight:bold;
}

.crud-box {
	display:flex;
	justify-content:space-between;
}

.title {
	font-weight:bold;
}

.membership-box {
	display:flex;
	justify-content:flex-end;
}

.bodyarea {
	height:300px;
}